name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        # Test against multiple Ruby versions and pagination libraries
        # Note: Ruby 3.2/3.3 have 1 pre-existing test failure in Kaminari/WillPaginate
        # (Fixnum monkey-patching in spec/rails_spec.rb:273)
        ruby: ['3.1', '3.2', '3.3']
        paginator: ['pagy', 'kaminari', 'will_paginate']
    env:
      PAGINATOR: ${{ matrix.paginator }}
    steps:
      - uses: actions/checkout@v4

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true

      - name: Run tests
        run: bundle exec rspec
